* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #a992ff;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0px;
  padding: 10px 15px;
  width: 300px;
  height: 60px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;
}
button:hover {
  background: #624ca8;
  transition: 500ms;

}

div li button {
  margin: 0 15px;
  background: #d43232;
  width: 50px;
  height: 40px;
}

div li button:hover {
  background: #992020;
  transition: 500ms;
}

div ul li {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  width: 300px;

  font-size: 14px;
  font-weight: bold;
  color: #7a7a7a;
}
